.PersonMiniAdd {
  padding: 8px;
  font-size: 0.9em;
  border: 1px solid #800000;
}

.PersonMiniAdd:hover {
  background-color: #3399ff;
}

.PersonMiniAdd:hover span {
  color: #ff3333;
}

.PersonMiniAdd * {
  margin: 0;
  padding: 2px;}
