.PersonMiniAdd {
  position: relative;
  padding: 8px;
  font-size: 0.9em;
  border: 1px solid #800000;
}

.PersonMiniAdd:hover {
  background-color: #3399ff;
}

.PersonMiniAdd:hover span {
  color: #ff3333;
}

.PersonMiniAdd * {
  margin: 0;
  padding: 2px;}

.PersonMiniAdd .plus-sign {
  position: absolute;
  left: 0px;
  top: 25px;
}
