.PersonMiniAdd {
  position: relative;
  color: #666666;
}

.PersonMiniAdd:hover {
  border: 1px dashed #666666;
  color: #800000;
}

.PersonMiniAdd .add-box {
  width: 90px;
  height: 40px;
  border: 1px solid #666666;
}

.add-right .add-box {
  position: absolute;
  top: 17px;
  right: 0px;
}

.add-left .add-box {
  position: absolute;
  top: 17px;
  left: 0px;
}

.PersonMiniAdd:hover .add-box {
  border-color: #800000;
  background-color: #bbbbbb;
}

.PersonMiniAdd p {
  margin: 0;
  padding: 0px;
}

.add-right .add-text {
  position: absolute;
  top: 5px;
  left: 8px;
}

.add-left .add-text {
  position: absolute;
  top: 5px;
  right: 8px;
}

.add-right .plus-sign {
  position: absolute;
  top: 6px;
  right: 0px;
}

.add-left .plus-sign {
  position: absolute;
  top: 6px;
  left: 0px;
}

.PersonMiniAdd .add-add {
  font-size: 0.9em;
  font-weight: bold;
}

.PersonMiniAdd .add-label {
  font-size: 0.8em;
  font-style: italic;
}

.PersonMiniAdd .plus-sign {
}
