.PersonMini {
  background-color: #ccc0a3;
  padding: 8px;
  font-size: 0.9em;
  border: 3px solid #333333;
}

.PersonMini.selectable-hover .person-name {
  font-weight: bold;
  text-decoration: underline #33cccc;
}

.PersonMini.selectable {
  color: #000000;
};

.PersonMini * {
  margin: 0;
  padding: 2px;}

.PersonMini p {
  padding: 6px;
}
