.TreeDisplayCore {

  display: grid;
  grid-template-columns: 40px 40px 120px 80px 40px 80px 40px 80px 120px 40px 40px;
  grid-template-rows: 40px 80px 80px 80px 80px;

  background-color: #52cccc;
  color: #666666;

}

.focus-m {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}

.focus-f {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 6;
}

.father-m {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.mother-m {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
}

.father-f{
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
}

.mother-f {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
}

.husband {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.wife {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 5;
}

.connect-father-mother-m {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.connect-father-mother-f {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 4;
}

.connect-spouse-m {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 6;
}

.connect-spouse-f {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}
