/* .TreeDisplay3Gen {
  display: grid;
  grid-template-columns: 40px 160px 80px 80px 80px 80px 80px 80px 80px 160px 40px;
  grid-template-rows: 80px 40px 80px 80px 80px 120px 120px 80px 40px 80px 20px;

  background-color: #e8e0c0;
  color: #666666;
} */
