.TreeDisplay3Gen {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-auto-rows: 100px;

  background-color: #e8f0ff;
  color: #669966;
}

p {
  color: #666666;
}

ul {
  list-style-type: none;
}
